.hero {
  position: relative;
  width: 100vw;
  height: 93vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 93vh;
  position: fixed;
  top: 50px;
  left: 0;
  opacity: 0.9;
}

.hello {
  position: absolute;
  color: rgb(247, 236, 225);
  background-color: rgba(0, 176, 240, 0.3);
  width: 100vw;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 70px;
  text-align: center;
}
