nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0 auto;
  height: 50px;
  width: 100vw;
  background-color: #595959;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.nav-logo {
  margin-left: 5vw;
  height: 45px;
}

.navi {
  margin-right: 5vw;
}
li {
  display: inline-block;
}
.navi a {
  text-decoration: none;
  color: black;
  padding: 0 30px;
  font-size: 20px;
  color: aliceblue;
  text-transform: uppercase;
}
